<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Pretraga centara za transfuziju</h5>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="filters.name" name="name" class="form-control" id="name">
                        <label for="name">Ime centra za transfuziju</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-floating mb-3">
                        <select [(ngModel)]="filters.city" name="city" class="form-control">
                            <option value=""></option>
                            <option *ngFor="let city of cities" [value]="city">{{city}}</option>
                        </select>
                        <label for="city">Grad centra za transfuziju</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label for="rating" class="form-label">Ocena centra za transfuziju</label>
                        <input style="width: 250px;" type="range" [(ngModel)]="filters.rating" class="form-range me-2"
                            min="0" max="5" id="rating">{{filters.rating}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-6">
    <div class="row text-center">
        <div class="col-xl-4 col-sm-6 mb-5" *ngFor="let bloodCenter of bloodCenters | filter: filters">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <h5 class="mb-0">{{bloodCenter.name}}</h5>
                <span class="small text-uppercase text-muted">{{bloodCenter.address}}, {{bloodCenter.city}},
                    {{bloodCenter.country}}</span>
                <hr>
                <p style="text-align: left;">{{bloodCenter.description}}</p>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a [routerLink]="['../center', bloodCenter.id]" class="social-link"><i
                                class="fa-solid fa-circle-info"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>