<section class="mail-seccess section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <!-- Error Inner -->
                <div class="success-inner">
                    <h1><i class="fa fa-address-card"></i><span>Uspešno ste aktivirali svoj nalog!</span>
                    </h1>
                    <p>Da biste koristili naše usluge, molimo Vas da se ulogujete.</p>
                    <p> -- BLOOD DONOR tim</p>
                    <a href="/login" class="btn btn-primary">Login stranica</a>
                </div>
                <!--/ End Error Inner -->
            </div>
        </div>
    </div>
</section>