<section class="mail-seccess section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="success-inner">
                    <h1><i class="fa fa-envelope"></i><span>Vaš mail je uspešno poslat!</span></h1>
                    <p>Proverite Vaš email da biste kompletirali registraciju.</p>
                    <p> -- BLOOD DONOR tim</p>
                    <a href="/" class="btn btn-primary">Početna strana</a>
                </div>
            </div>
        </div>
    </div>
</section>