<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Dobrodošli! Ulogujte se na BLOOD DONOR</h3>
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="form-floating mb-3">
                                    <input type="email" name="email"
                                        [ngClass]="{'is-invalid': submitted && loginForm.controls.email.errors }"
                                        class="form-control" id="email" formControlName="email"
                                        placeholder="name@example.com">
                                    <label for="email">Email adresa</label>
                                    <div *ngIf="submitted && loginForm.controls.email.errors" class="invalid-feedback">
                                        <div *ngIf="loginForm.controls.email.errors.required">Email je obavezan.</div>
                                        <div *ngIf="loginForm.controls.email.errors.email">Email mora da bude validna
                                            email
                                            adresa.</div>
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="password" name="password"
                                        [ngClass]="{'is-invalid': submitted && loginForm.controls.password.errors}"
                                        class="form-control" id="password" formControlName="password"
                                        placeholder="Password">
                                    <label for="password">Password</label>
                                    <div *ngIf="submitted && loginForm.controls.password.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="loginForm.controls.password.errors.required">Password je obavezan.
                                        </div>
                                        <div *ngIf="loginForm.controls.password.errors.minlength">Password mora da
                                            sadrži najmanje 6
                                            karaktera.</div>
                                    </div>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                                        type="submit">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>