<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Register on BLOOD DONOR</h3>
                            <!-- Sign In Form -->
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="form-floating mb-3">
                                    <input type="email" name="email"
                                        [ngClass]="{'is-invalid': submitted && registerForm.controls.email.errors }"
                                        class="form-control" formControlName="email" placeholder="name@example.com">
                                    <label for="email">Email address</label>
                                    <div *ngIf="submitted && registerForm.controls.email.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="registerForm.controls.email.errors.required">Email is required.
                                        </div>
                                        <div *ngIf="registerForm.controls.email.errors.email">Email must be a valid
                                            email address.</div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="password" name="password"
                                                [ngClass]="{'is-invalid': submitted && registerForm.controls.password.errors}"
                                                class="form-control" id="password" formControlName="password"
                                                placeholder="Password">
                                            <label for="password">Password</label>
                                            <div *ngIf="submitted && registerForm.controls.password.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="registerForm.controls.password.errors.required">Password is
                                                    required.
                                                </div>
                                                <div *ngIf="registerForm.controls.password.errors.minlength">Password is
                                                    at least 6 characters long.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="password" name="repeat"
                                                [ngClass]="{'is-invalid': submitted && registerForm.controls.repeat.errors }"
                                                class="form-control" formControlName="repeat" id="repeat"
                                                placeholder="Password">
                                            <label for="repeat">Repeat password</label>
                                            <div *ngIf="submitted && registerForm.controls.repeat.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="registerForm.controls.repeat.errors.required">Confirm
                                                    password is required.</div>
                                                <div *ngIf="registerForm.controls.repeat.errors.minlength">Confirm
                                                    password is at least 6 characters long.</div>
                                                <div *ngIf="registerForm.controls.repeat.errors.mustMatch">Passwords
                                                    must match.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="name"
                                                [ngClass]="{'is-invalid': submitted && registerForm.controls.name.errors }"
                                                class="form-control" formControlName="name" id="name"
                                                placeholder="Enter your name">
                                            <label for="name">Name</label>
                                            <div *ngIf="submitted && registerForm.controls.name.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="registerForm.controls.name.errors.required">Name is
                                                    required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="surname"
                                                [ngClass]="{'is-invalid': submitted && registerForm.controls.surname.errors }"
                                                class="form-control" formControlName="surname" id="surname"
                                                placeholder="Enter your surname">
                                            <label for="surname">Surname</label>
                                            <div *ngIf="submitted && registerForm.controls.surname.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="registerForm.controls.surname.errors.required">Surname is
                                                    required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" name="address"
                                        [ngClass]="{'is-invalid': submitted && registerForm.controls.address.errors }"
                                        class="form-control" formControlName="address" id="address"
                                        placeholder="Enter your address">
                                    <label for="address">Address</label>
                                    <div *ngIf="submitted && registerForm.controls.address.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="registerForm.controls.address.errors.required">Address is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="city"
                                                [ngClass]="{'is-invalid': submitted && registerForm.controls.city.errors }"
                                                class="form-control" formControlName="city" id="city"
                                                placeholder="Enter your city">
                                            <label for="city">City</label>
                                            <div *ngIf="submitted && registerForm.controls.city.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="registerForm.controls.city.errors.required">City is
                                                    required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="country"
                                                [ngClass]="{'is-invalid': submitted && registerForm.controls.country.errors }"
                                                class="form-control" formControlName="country" id="country"
                                                placeholder="Enter your country">
                                            <label for="country">Country</label>
                                            <div *ngIf="submitted && registerForm.controls.country.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="registerForm.controls.country.errors.required">Country is
                                                    required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" name="phoneNumber"
                                        [ngClass]="{'is-invalid': submitted && registerForm.controls.phoneNumber.errors }"
                                        class="form-control" formControlName="phoneNumber" id="phoneNumber"
                                        placeholder="Enter your phone number">
                                    <label for="phone">Phone number</label>
                                    <div *ngIf="submitted && registerForm.controls.phoneNumber.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="registerForm.controls.phoneNumber.errors.required">Phone number is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="jmbg"
                                                [ngClass]="{'is-invalid': submitted && registerForm.controls.jmbg.errors }"
                                                class="form-control" formControlName="jmbg" id="jmbg"
                                                placeholder="Enter your JMBG">
                                            <label for="jmbg">JMBG</label>
                                            <div *ngIf="submitted && registerForm.controls.jmbg.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="registerForm.controls.jmbg.errors.required">JMBG is
                                                    required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            <select class="form-select"
                                                [ngClass]="{'is-invalid': submitted && registerForm.controls.gender.errors }"
                                                formControlName="gender" id="gender">
                                                <option value="FEMALE">female</option>
                                                <option value="MALE">male</option>
                                            </select>
                                            <label for="gender">Gender</label>
                                            <div *ngIf="submitted && registerForm.controls.gender.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="registerForm.controls.gender.errors.required">Gender is
                                                    required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="occupation"
                                                [ngClass]="{'is-invalid': submitted && registerForm.controls.occupation.errors }"
                                                class="form-control" formControlName="occupation" id="occupation"
                                                placeholder="Enter your occupation">
                                            <label for="occupation">Occupation</label>
                                            <div *ngIf="submitted && registerForm.controls.occupation.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="registerForm.controls.occupation.errors.required">Occupation
                                                    is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <textarea [ngClass]="{'is-invalid': submitted && registerForm.controls.jobInformation.errors }"
                                        class="form-control" formControlName="jobInformation" id="jobInformation" rows="3"></textarea>
                                    <label for="jobInformation">Job information</label>
                                    <div *ngIf="submitted && registerForm.controls.jobInformation.errors" class="invalid-feedback">
                                        <div *ngIf="registerForm.controls.jobInformation.errors.required">Job information is
                                            required.
                                        </div>
                                    </div>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                                        type="submit">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>